*{
    margin: 0;
    padding: 0;
}
div{
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: darkslategray;
    position: relative;
}
span{
    background-color: lavender;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    cursor: pointer;
}